@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*<link rel="stylesheet" type="text/css" href="~/css/table.css">*@
<h2>Events Lists</h2>
<a style ="color: red; text-decoration: underline" class="nav-link text-dark" asp-area="" asp-controller="Events" asp-action="Add">Add Events</a>
<a style="color: red; text-decoration: underline" class="nav-link text-dark" asp-area="" asp-controller="Events" asp-action="Delete">Delete Events</a>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Event</th>
        <th>Description</th>
        <th>Edit</th>
    </tr>

    @foreach (var evt in ViewBag.events)
    {
<tr>

    <td>@evt.Id</td>
    <td>@evt.Name</td>
    <td>@evt.Description</td>
    <td><a asp-controller="Events" asp-action="Edit" asp-route-id="@evt.Id">Edit Event</a></td>


</tr>
    }

</table>